<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="{{ url_for('static', path='/style.css')}}"  rel="stylesheet"/>
<!-- for flask        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />-->

        <title>Predictor</title>
    </head>
    <body>
        <section class="container">
            <div class="title-box">
                <h1>Accra House Pricing Predictor</h1>
            </div>
            <div class="form-input-box">
                <form action="/" method="POST">
                    <div>
                        <label htmlfor="location">Location:</label>
                        <input
                                form="form-input"
                            type="text"
                            name="location"
                            required
                        >
                    </div>
                    <div>
                        <label htmlfor="bedrooms">Bedroom:</label>
                        <input
                                form="form-input"
                            type="text"
                            name="bedrooms"
                            placeholder="Enter a number"
                            onkeypress="onKeyPress(event)"
                                required
                        >
                    </div>
                    <div>
                        <label htmlfor="bathrooms">Bathroom:</label>
                        <input
                            type="text"
                            name="bathrooms"
                            form="form-input"

                            placeholder="Enter a number"
                            onkeypress="onKeyPress(event)"
                            required
                        >
                    </div>
                    <div>
                        <label htmlfor="garages">Garage:</label>
                        <input
                            type="text"
                            name="garages"
                            form="form-input"

                            placeholder="Enter a number"
                            onkeypress="onKeyPress(event)"
                        />
                    </div>
                </form>
            </div>
            {%if prediction or error %}
            <div class="form-submit-box">
                <form action="/" method='POST' id="form-input" class="one">
                    <input type="submit" value="Predict" />
                </form>
                <form action="/" method='GET' id="form-input" class="two">
                    <input type="submit" value="Reload" />
                </form>
            </div>
            {% else %}
            <div class="form-submit-box">
                <form action="/" method='POST' id="form-input">
                    <input type="submit" value="Predict" />
                </form>
            </div>
            {% endif %}
            {%if prediction %}
            <div class="prediction-box">
                <p>The price is GHS <span>{{prediction}}</span> </p>
            </div>
            {%endif%}
            {%if error %}
            <div class="prediction-box">
                <p>{{error}} </p>
            </div>
            {%endif%}
        </section>
    </body>
    <script>
        function onKeyPress(event) {
            if (!/[0-9]/.test(event.key)) {
                event.preventDefault();
            }
        }
    </script>
</html>
